doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(data-main="require-main", src="/bower_components/requirejs/require.js")

  body
    div#container
      button(type="button", class="btn btn-primary")#login Authenticate
